
<div class="containercss">

        <div class="item1" id="item-leftbox">

                <app-desktop-nav></app-desktop-nav>

        </div>

        <div class="item2">

                <div class="item2-div " id="item2-div-1">

                        <i class="bi bi-house svgcss" style="float:left;margin-left:20px;" routerLink="/Home"></i>
      
                        Basic Tags
                      <a class="bi bi-list svgcss" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                        aria-controls="offcanvasExample" style="float:right;margin-right:15px;">
                      </a>

                </div>


                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                        <app-mobile-nav></app-mobile-nav>
                </div>
                <div class="item2-div">
                        <h3 id="titlepadding">Headings :</h3>
                        <div class="codebox">
<pre><span class="dec">&lt;!DOCTYPE html&gt;</span><span class="pln">
</span><span class="tag">&lt;html&gt;</span><span class="pln">

  </span><span class="tag">&lt;head&gt;</span><span class="pln">
     </span><span class="tag">&lt;title&gt;</span><span class="pln">Heading Example</span><span class="tag">&lt;/title&gt;</span><span class="pln">
  </span><span class="tag">&lt;/head&gt;</span><span class="pln">
        
  </span><span class="tag">&lt;body&gt;</span><span class="pln">
        </span><span class="tag">&lt;h1&gt;</span><span class="pln">Heading h1</span><span class="tag">&lt;/h1&gt;</span><span class="pln">
        </span><span class="tag">&lt;h2&gt;</span><span class="pln">Heading h2</span><span class="tag">&lt;/h2&gt;</span><span class="pln">
        </span><span class="tag">&lt;h3&gt;</span><span class="pln">Heading h3</span><span class="tag">&lt;/h3&gt;</span><span class="pln">
        </span><span class="tag">&lt;h4&gt;</span><span class="pln">Heading h4</span><span class="tag">&lt;/h4&gt;</span><span class="pln">
        </span><span class="tag">&lt;h5&gt;</span><span class="pln">Heading h5</span><span class="tag">&lt;/h5&gt;</span><span class="pln">
        </span><span class="tag">&lt;h6&gt;</span><span class="pln">Heading h6</span><span class="tag">&lt;/h6&gt;</span><span class="pln">
  </span><span class="tag">&lt;/body&gt;</span><span class="pln">
        
</span><span class="tag">&lt;/html&gt;</span></pre>
                        </div>

                        <h3 id="titlepadding">Output :</h3>
                        <div class="codepadding">
                                <h1>Heading h1</h1>
                                <h2>Heading h2</h2>
                                <h3>Heading h3</h3>
                                <h4>Heading h4</h4>
                                <h5>Heading h5</h5>
                                <h6>Heading h6</h6>
                                
                        </div>
                        <h5 id="notepadding">Note :</h5>
                        <div class="notediv">

                                <ol type="A">
                                        <li>
                                                HTML headings are defined with the <code>&lt;h1&gt;</code> to
                                        <code>&lt;h6&gt;</code> tags.
                                        </li>
                                        <li>
                                                <code>&lt;h1&gt;</code> defines the most important heading. <code>&lt;h6&gt;</code>
                                        defines the least important
                                        heading:&nbsp;
                                        </li>
                                </ol>

                                
                        </div>
                </div>

                <div class="item2-div">
                        <h3 id="titlepadding">Paragraphs :</h3>
                        <div class="codebox">
<pre ><span class="dec">&lt;!DOCTYPE html&gt;</span><span class="pln">
</span><span class="tag">&lt;html&gt;</span><span class="pln">
   </span><span class="tag">&lt;head&gt;</span><span class="pln">
        </span><span class="tag">&lt;title&gt;</span><span class="pln">Paragraph Example</span><span class="tag">&lt;/title&gt;</span><span class="pln">
   </span><span class="tag">&lt;/head&gt;</span><span class="pln">
   </span><span class="tag">&lt;body&gt;</span><span class="pln">
        </span><span class="tag">&lt;p&gt;</span><span class="pln"> first paragraph of text.</span><span class="tag">&lt;/p&gt;</span><span class="pln">
        </span><span class="tag">&lt;p&gt;</span><span class="pln"> second paragraph of text.</span><span class="tag">&lt;/p&gt;</span><span class="pln">
        </span><span class="tag">&lt;p&gt;</span><span class="pln"> third paragraph of text.</span><span class="tag">&lt;/p&gt;</span><span class="pln">
   </span><span class="tag">&lt;/body&gt;</span><span class="pln">
        
</span><span class="tag">&lt;/html&gt;</span></pre>
                        </div>
                      
                        <h3 id="titlepadding">Output :</h3>
                        <div class="codepadding">
                                <p> first paragraph of text.</p>
                                <p> second paragraph of text.</p>
                                <p> third paragraph of text.</p>
                        </div>
                        <h5 id="notepadding">Note :</h5>
                        <div class="notediv">
                                <ul>
                                        <li>HTML paragraphs are defined with the <code>&lt;p&gt;</code> tag .</li>
                                        <li>Paragraph tag automatically add some space between them .</li>
                                </ul>

                        </div>
                </div>
                <div class="item2-div">
                        <h3 id="titlepadding">Line Break :</h3>
                        <div class="codebox">
<pre ><span class="dec">&lt;!DOCTYPE html&gt;</span><span class="pln">
</span><span class="tag">&lt;html&gt;</span><span class="pln">
   </span><span class="tag">&lt;head&gt;</span><span class="pln">
      </span><span class="tag">&lt;title&gt;</span><span class="pln">Line Break Example</span><span class="tag">&lt;/title&gt;</span><span class="pln">
   </span><span class="tag">&lt;/head&gt;</span><span class="pln">
   </span><span class="tag">&lt;body&gt;</span><span class="pln">
        </span><span class="tag">&lt;p&gt;</span><span class="pln">Hello</span><span class="tag">&lt;br</span><span class="pln"></span><span class="tag">/&gt;</span><span class="pln">
        I have received the offer letter.</span><span class="tag">&lt;br</span><span class="pln"></span><span class="tag">/&gt;</span><span class="pln">
        Thanks</span><span class="tag">&lt;br</span><span class="pln"></span><span class="tag">/&gt;</span><span class="pln">
        Yashraj</span><span class="tag">&lt;/p&gt;</span><span class="pln">
   </span><span class="tag">&lt;/body&gt;</span><span class="pln">
        
</span><span class="tag">&lt;/html&gt;</span></pre>
                        </div>
                      
                        <h3 id="titlepadding">Output :</h3>
                        <div class="codepadding">
                                <p>Hello<br/>
                                        I have received the offer letter.<br/>
                                        Thanks<br/>
                                        Yashraj</p>
                        </div>
                        <h5 id="notepadding">Note :</h5>
                        <div class="notediv">
                                <ul type="square">
                                        <li>&lt;br/&gt; tag is used to add break the line .</li>
                                </ul>

                        </div>
                </div>
                <div class="item2-div">
                        <h3 id="titlepadding">Horizontal Lines :</h3>
                        <div class="codebox">
<pre><span class="dec">&lt;!DOCTYPE html&gt;</span><span class="pln">
</span><span class="tag">&lt;html&gt;</span><span class="pln">
   </span><span class="tag">&lt;head&gt;</span><span class="pln">
        </span><span class="tag">&lt;title&gt;</span><span class="pln">Horizontal Line Example</span><span class="tag">&lt;/title&gt;</span><span class="pln">
   </span><span class="tag">&lt;/head&gt;</span><span class="pln">
   </span><span class="tag">&lt;body&gt;</span><span class="pln">
        </span><span class="tag">&lt;p&gt;</span><span class="pln">This is paragraph one and should be on top</span><span class="tag">&lt;/p&gt;</span><span class="pln">
        </span><span class="tag">&lt;hr</span><span class="pln"></span><span class="tag">/&gt;</span><span class="pln">
        </span><span class="tag">&lt;p&gt;</span><span class="pln">This is paragraph two and should be at bottom</span><span class="tag">&lt;/p&gt;</span><span class="pln">
   </span><span class="tag">&lt;/body&gt;</span><span class="pln">
        
</span><span class="tag">&lt;/html&gt;</span></pre>
                        </div>
                      
                        <h3 id="titlepadding">Output :</h3>
                        <div class="codepadding">
                                <p>This is paragraph one and should be on top</p>
                                <hr>
                                <p>This is paragraph two and should be at bottom</p>
                        </div>
                        <h5 id="notepadding">Note :</h5>
                        <div class="notediv">
                                <ul type="circle">
                                        <li><b>&lt;hr /&gt;</b> tag is an example of the <b>empty</b> element</li>
                                <li>You do not need opening and closing tags</li>
                                </ul>

                        </div>
                </div>

                

        </div>
</div>