<div class="containercss">
  <div class="item1" id="item-leftbox">
    <app-desktop-nav></app-desktop-nav>
  </div>

  <div class="item2">
    <div class="item2-div" id="item2-div-1">
      <i class="bi bi-house svgcss" style="float:left;margin-left:20px;" routerLink="/Home"></i>
      
                        Table
                      <a class="bi bi-list svgcss" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                        aria-controls="offcanvasExample" style="float:right;margin-right:15px;">
                      </a>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <app-mobile-nav></app-mobile-nav>
    </div>

    <div class="item2-div">
      <h3 id="titlepadding">Table :</h3>
      <div class="codebox">
<pre ><span class="dec">&lt;!DOCTYPE html&gt;</span><span class="pln">
</span><span class="tag">&lt;html&gt;</span><span class="pln">
  </span><span class="tag">&lt;head&gt;</span><span class="pln">
      </span><span class="tag">&lt;title&gt;</span><span class="pln">HTML Tables</span><span class="tag">&lt;/title&gt;</span><span class="pln">
  </span><span class="tag">&lt;/head&gt;</span><span class="pln">
  </span><span class="tag">&lt;body&gt;</span><span class="pln">
      </span><span class="tag">&lt;table</span><span class="pln"> </span><span class="atn">border</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="atv">"1"</span><span class="tag">&gt;</span><span class="pln">
          </span><span class="tag">&lt;tr&gt;</span><span class="pln">
            </span><span class="tag">&lt;td&gt;</span><span class="pln">Row 1, Column 1</span><span class="tag">&lt;/td&gt;</span><span class="pln">
            </span><span class="tag">&lt;td&gt;</span><span class="pln">Row 1, Column 2</span><span class="tag">&lt;/td&gt;</span><span class="pln">
          </span><span class="tag">&lt;/tr&gt;</span><span class="pln">
          </span><span class="tag">&lt;tr&gt;</span><span class="pln">
            </span><span class="tag">&lt;td&gt;</span><span class="pln">Row 2, Column 1</span><span class="tag">&lt;/td&gt;</span><span class="pln">
            </span><span class="tag">&lt;td&gt;</span><span class="pln">Row 2, Column 2</span><span class="tag">&lt;/td&gt;</span><span class="pln">
          </span><span class="tag">&lt;/tr&gt;</span><span class="pln">
      </span><span class="tag">&lt;/table&gt;</span><span class="pln">
  </span><span class="tag">&lt;/body&gt;</span><span class="pln">
</span><span class="tag">&lt;/html&gt;</span></pre>
      </div>
      <h3 id="titlepadding">Output :</h3>
      <div class="codepadding"  >
        <table border= "1" >
          <tr >
            <td  >Row 1, Column 1</td>
            <td >Row 1, Column 2</td>
          </tr>
          <tr >
            <td >Row 2, Column 1</td>
            <td >Row 2, Column 2</td>
          </tr>
        </table>
      </div>
      <h5 id="notepadding">Note :</h5>
      <div class="notediv">
        <ul>
          <li>
            <b>&lt;tr&gt;</b> tag is used to create table rows
            <br />
          </li>
          <li>
            <b>&lt;td&gt;</b> tag is used to create data cells.
          </li>
        </ul>
      </div>
    </div>

    <!-- <div class="item2-div">
      <h3 id="titlepadding">Background Color :</h3>
      <div class="codebox">

      </div>
      <h3 id="titlepadding">Output :</h3>
      <div class="codepadding">

      </div>
      <h5 id="notepadding">Note :</h5>
      <div class="notediv">
        <ul>
          <li>

            <br />
          </li>
          <li>

          </li>
        </ul>
      </div>
    </div> -->








  </div>
</div>