<div class="containercss">
    <div class="item1" id="item-leftbox">
        <app-desktop-nav></app-desktop-nav>
    </div>

    <div class="item2">
        <div class="item2-div" id="item2-div-1">
            <i class="bi bi-house svgcss" style="float:left;margin-left:20px;" routerLink="/Home"></i>

            Python Home
            <a class="bi bi-list svgcss" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                    aria-controls="offcanvasExample" style="float:right;margin-right:15px;">
            </a>
            
        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">

            <app-mobile-nav></app-mobile-nav>


        </div>




        <div class="item2-div">
            <img src="assets/Python/logo.webp" alt="Python Logo"
                style="width:140px;height:140px; margin:10px; float: left" />


            <p style="padding:20px;text-align:left;" id="pythoncssparagraph">
                Python is a programming language. <br>

                Python can be used on a server to create web applications.
            </p>


        </div>




        <div class="item2-div">
            <h2 id="titlepadding">What is Python:</h2>
            <div class="codepadding" >
                <ul>
                    <li>Python is Simple , General Purpose , High-Level Programming Language.</li>
                    <li>Python is Object Oriented programming language.</li>
                    <li>Python is case-sensitive language.</li>
                </ul>
            </div>

        </div>
        <div class="item2-div">
            <h2 id="titlepadding">Python Features: </h2>
            <div class="codepadding">
                <ol>
                    <li>Free and Open Source</li>
                    <li>High-Level Programming Language</li>
                    <li>Simple and Easy</li>
                    <li>Portable</li>
                    <li>Interpreted </li>
                    <li>Object Oriented programming language</li>
                    <li>Embedded</li>
                    <li>Rich set of Functionality</li>
                    <li>Integrated</li>
                    <li>Extensible</li>
                </ol>
            </div>
        </div>
        <div class="item2-div">
            <h2 id="titlepadding">Explanation :</h2>
            <div class="codepadding" >

                <ol>
                    <li>Free and Open Source :<br>
                        <span id="pythoncssparagraph">Python is free and Open Source Programming Language.The Software can be
                            Downloaded and must be used freely.The Open Source means "Anyone can Download its source
                            code without paying any penny."</span>
                    </li><br>
                    <li>High-Level Programming Language:<br>
                        <span id="pythoncssparagraph"> Python has been designed to be a high-level programming languages, which
                            means that when you code in Python you don't need to aware of the coding structure,
                            architecture as well as memory management.</span>
                    </li><br>
                    <li>Simple and Easy:<br>
                        <span id="pythoncssparagraph">It is Simple and Easy to learn as compared to other programming languages. Its
                            syntax is straightforwad. It is recommended programming language for beginners.</span>
                    </li><br>
                    <li>Portable:<br>
                        <span id="pythoncssparagraph">It is portable. That means Python programs can be executed on various platform
                            without altering them.</span>
                    </li><br>
                    <li>Interpreted :<br>
                        <span id="pythoncssparagraph">The Python is an Interpreted Language. It means the Python program is executed
                            one line at a time. The advantage of being interpreted language, it makes debugging easy and
                            portable.</span>
                    </li><br>
                    <li>Object Oriented programming language:<br>
                        <span id="pythoncssparagraph">Python supports object-oriented language and concepts of classes and objects
                            come into existence. It supports inheritence, polymorphism and encapsulation, etc. The
                            object-oriented procedure helps to programmer to write reusable code and develop application
                            in less code.</span>
                    </li><br>
                    <li>Embedded: <br>
                        <span id="pythoncssparagraph">It can be embedded within your C or C++ programs.The code of other programming
                            language can use in the Python source code. We can also use Python Source code in another
                            languages as well.</span>
                    </li><br>
                    <li>Rich set of Functionality:<br>
                        <span id="pythoncssparagraph">It is Rich set of functionality available in huge standard library.</span>
                    </li><br>
                    <li>Integrated: <br>
                        <span id="pythoncssparagraph">It can be easily integrated with languages like C ,C++ and Java etc. Python
                            run code line by line like C ,C++ and Java. It makes easy to debug the code.</span>
                    </li><br>
                    <li>Extensible: <br>
                        <span id="pythoncssparagraph">It implies that other languages like C, C++ can be used to compile the code
                            and thus it can be used further in our Python code. It converts the program into byte code
                            and any platform can use that byte.</span>
                    </li><br>
                </ol>

            </div>
        </div>
        <div class="item2-div">
            <h2 id="titlepadding">Use of Python :</h2>
            <div class="codepadding">
                <ul>
                    <li>Central Intelligence Agency(CIA) is using Python to maintain their website</li>
                    <li>Google's first search engine was written in Python </li>
                    <li>NASA use Workflow Automation Tool which is written in Python</li>
                    <li>Facebook</li>
                    <li>Nokia</li>
                    <li>Dropbox</li>
                    <li>Quora</li>
                    <li>Youtube</li>
                    <li>Instagram</li>
                    <li>Gamming</li>
                </ul>
            </div>

        </div>



    </div>

</div>