<div class="containercss">

    <div class="item1" id="item-leftbox">

        <app-desktop-nav></app-desktop-nav>

    </div>

    <div class="item2">

        <div class="item2-div " id="item2-div-1">


            <i class="bi bi-house svgcss" style="float:left;margin-left:20px;" routerLink="/Home"></i>

            KeyBoard Shortcut
                   <a class="bi bi-list svgcss" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                           aria-controls="offcanvasExample" style="float:right;margin-right:15px;">
                   </a>
            

        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <app-mobile-nav></app-mobile-nav>
        </div>






        <div class="item2-div">
            <h3 id="titlepadding">KeyBoard Shortcut :</h3>
           
            <div class="notediv">

                <ol style="font-size:22px;">
                    <li>The Command Palette :- <code>Ctr + shift + P</code></li>
                    <li>Duplicate line up/down :- <code>Shift + Alt + up/down</code></li>
                    <li>Move line up/down :- <code>Alt + up/down</code></li>
                    <li>Indent or outdent line :- <code>Ctrl + ] or   [ </code></li>
                    <li>Multi-Select :- <code> Ctrl + D</code></li>
                    <li>Multi - Select Cursor :- <code>Alt + Click</code></li>
                    <li>Toggle line comment :- <code>Ctrl + /</code></li>
                    <li>Show / Hide terminal :- <code>Ctrl + `</code></li>
                    <li>Toggle side bar :- <code>Ctrl + B</code></li>
                    <li>Close Tab :- <code>Ctrl +w</code></li>
                </ol>
            </div>
        </div>





    </div>

</div>
