<div class="sidenav">

    
    <a routerLink="/Python" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Python Home</a>
    <a routerLink="/Python/L1" routerLinkActive="active">Python Installation</a>
    <a routerLink="/Python/L2" routerLinkActive="active">Python Data Types</a>
    <a routerLink="/Python/L3" routerLinkActive="active">Python Input Operation</a>
    <a routerLink="/Python/L4" routerLinkActive="active">Python Comments</a>
    <a routerLink="/Python/L5" routerLinkActive="active">Python Keywords</a>
    <a routerLink="/Python/L6" routerLinkActive="active">Python Operators</a>
    <a routerLink="/Python/L7" routerLinkActive="active">Python Expression</a>
    <a routerLink="/Python/L8" routerLinkActive="active">Python Statements</a>
    
   
</div>