<div class="containercss">

        <div class="item1" id="item-leftbox">

               <app-desktop-nav></app-desktop-nav>
        

        </div>

        <div class="item2">

                <div class="item2-div " id="item2-div-1">

                        
                        <i class="bi bi-house svgcss" style="float:left;margin-left:20px;" routerLink="/Home"></i>
      
                        CSS Home
                      <a class="bi bi-list svgcss" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                        aria-controls="offcanvasExample" style="float:right;margin-right:15px;">
                      </a>
                </div>

                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                        aria-labelledby="offcanvasExampleLabel">
                        
                        <app-mobile-nav></app-mobile-nav>
                        
                </div>






                <div class="item2-div ">
                        <h6><img src="assets/CSS/CSS-Logo.webp" alt="HTML Logo"
                                        style="width:140px;height:140px;margin-right:15px;float: left;margin-top:15px;">




                                <p style="padding:20px;text-align:left;"> 
                                       
                                        
                                CSS is the language we use to style an HTML document. <br>
                                CSS describes how HTML elements should be displayed.
                                
                                </p>






                        </h6>

                </div>


                <div class="item2-div">
                        <h3 id="titlepadding">Syntax :</h3>
                        <div class="codepadding">
                                <span id="codecolor"><span id="bracketcolor">&lt;</span>!DOCTYPE<span style="color:red">
                                                html</span><span id="bracketcolor">&gt;</span></span><br>
                                <span id="codecolor"><span id="bracketcolor">&lt;</span>html<span
                                                id="bracketcolor">&gt;</span></span><br>
                                <span id="codecolor"><span id="bracketcolor">&lt;</span>title<span
                                                id="bracketcolor">&gt;</span></span>You can enter title here<span
                                        id="codecolor"><span id="bracketcolor">&lt;</span>/title<span
                                                id="bracketcolor">&gt;</span></span><br>
                                <span id="codecolor"><span id="bracketcolor">&lt;</span>style<span
                                                id="bracketcolor">&gt;</span></span>

                                <p>You Can Define Css here</p>



                                <span id="codecolor"><span id="bracketcolor">&lt;</span>/style<span
                                                id="bracketcolor">&gt;</span></span><br>

                                <span id="codecolor"><span id="bracketcolor">&lt;</span>body<span
                                                id="bracketcolor">&gt;</span></span><br><br>

                                <span id="codecolor"><span id="bracketcolor">&lt;</span>p<span
                                                id="bracketcolor">&gt;</span></span>
                                Here you can write anything you want for example text , heading , paragraph !!
                                <span id="codecolor"><span id="bracketcolor">&lt;</span>/p<span
                                                id="bracketcolor">&gt;</span></span>

                                <br><br>
                                <span id="codecolor"><span id="bracketcolor">&lt;</span>/body<span
                                                id="bracketcolor">&gt;</span></span><br>
                                <span id="codecolor"><span id="bracketcolor">&lt;</span>/html<span
                                                id="bracketcolor">&gt;</span></span>
                        </div>
                        <br>
                </div>

                <div class="item2-div">
                        <h3 id="titlepadding">Way To Implement :</h3>
                        <div class="codepadding">

                                <ul type="circle">
                                        <li>Inline <b>CSS</b>.</li>
                                        <li>Internal or Embedded <b>CSS</b>.</li>
                                        <li>External <b>CSS</b>.</li>
                                </ul>


                        </div>
                        <h5 id="notepadding">Note :</h5>
                        <div class="notediv">
                                <h6>External CSS is saved with <code>.css</code> dot is important</h6>
                        </div>
                       
                </div>

               
               


        </div>