<div class="containercss">

        <div class="item1" id="item-leftbox">
                <app-desktop-nav></app-desktop-nav>


        </div>

        <div class="item2">

                <div class="item2-div " id="item2-div-1">


                        <i class="bi bi-house svgcss" style="float:left;margin-left:20px;" routerLink="/Home"></i>

                        Java Home
                        <a class="bi bi-list svgcss" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                                aria-controls="offcanvasExample" style="float:right;margin-right:15px;">
                        </a>

                </div>

                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                        aria-labelledby="offcanvasExampleLabel">

                        <app-mobile-nav></app-mobile-nav>

                </div>


                <div class="item2-div">
                        <img src="assets/Java/logo.webp" alt="Eclipse Logo"
                                style="width:200px;height:100px; margin:10px; float: left" />


                        <p style="padding:20px;text-align:left;">




                        </p>

                </div>



                <div class="item2-div">
                        <h3 id="titlepadding">Java Features:-</h3>
                        <div class="codepadding">

                                <ol>
                                        <li style="text-align: left; line-height: 1.5;"><span
                                                        style='font-size: 20px; font-family: "Lucida Console", Monaco, monospace;'>Simple&nbsp;</span>
                                        </li>
                                        <li style="text-align: left; line-height: 1.5;"><span
                                                        style="font-size: 20px;"><span
                                                                style="font-family: 'Lucida Console', Monaco, monospace;">Object-Oriented</span></span>
                                        </li>
                                        <li style="text-align: left; line-height: 1.5;"><span
                                                        style="font-size: 20px;"><span
                                                                style='font-family: "Lucida Console", Monaco, monospace;'>Platform
                                                                Independent</span></span>
                                        </li>
                                        <li style="text-align: left; line-height: 1.5;"><span
                                                        style="font-size: 20px;"><span
                                                                style='font-family: "Lucida Console", Monaco, monospace;'>Architectural
                                                                Neutral</span></span>
                                        </li>
                                        <li style="text-align: left; line-height: 1.5;"><span
                                                        style="font-size: 20px;"><span
                                                                style='font-family: "Lucida Console", Monaco, monospace;'>Portable</span></span>
                                        </li>
                                        <li style="text-align: left; line-height: 1.5;"><span
                                                        style="font-size: 20px;"><span
                                                                style='font-family: "Lucida Console", Monaco, monospace;'>Robust</span></span>
                                        </li>
                                        <li style="text-align: left; line-height: 1.5;"><span
                                                        style="font-size: 20px;"><span
                                                                style='font-family: "Lucida Console", Monaco, monospace;'>Secure&nbsp;</span></span>
                                        </li>
                                        <li style="text-align: left; line-height: 1.5;"><span
                                                        style="font-size: 20px;"><span
                                                                style='font-family: "Lucida Console", Monaco, monospace;'>Dynamic</span></span>
                                        </li>
                                        <li style="text-align: left; line-height: 1.5;"><span
                                                        style="font-size: 20px;"><span
                                                                style='font-family: "Lucida Console", Monaco, monospace;'>Distributed</span></span>
                                        </li>
                                        <li style="text-align: left; line-height: 1.5;"><span
                                                        style="font-size: 20px;"><span
                                                                style='font-family: "Lucida Console", Monaco, monospace;'>Multithread</span></span>
                                        </li>
                                        <li style="text-align: left; line-height: 1.5;"><span
                                                        style="font-size: 20px;"><span
                                                                style='font-family: "Lucida Console", Monaco, monospace;'>Interpretive</span></span>
                                        </li>
                                        <li style="text-align: left; line-height: 1.5;"><span
                                                        style='font-family: "Lucida Console", Monaco, monospace;'><span
                                                                style="font-size: 20px;">High
                                                                Performance&nbsp;</span><span
                                                                style="font-size: 18px;">&nbsp;
                                                                &nbsp;<br></span></span>&nbsp;
                                        </li>
                                </ol>

                        </div>

                </div>

                <div class="item2-div">
                        <h3 id="titlepadding">Explanation :</h3>
                        <div class="codepadding">
                                <h4>1. Simple:-</h4>
                                <p id="javacssparagraph"> Java is a
                                        simple programming language
                                        because Java technology has eliminated all the difficult and
                                        confusion-oriented concepts like pointers, multiple
                                        inheritance in the java language. The c , cpp syntaxes easy to
                                        understand and easy to write. Java maintains C
                                        and CPP syntax mainly hence java is a simple language. Java tech takes
                                        less time to compile and execute the
                                        program.</p>
                                <br>
                                <h4>2. Object-Oriented:-</h4>
                                <p id="javacssparagraph">Java is object-oriented
                                        technology because it represents total data in the form of an
                                        object. By using object reference we are
                                        calling all the methods, variables which is present in that
                                        class.</p>
                                <br>
                                <h4>3. Platform Independent:-</h4>
                                <p id="javacssparagraph">Compile the
                                        Java program on one OS
                                        (operating system) that compiled file can execute in any OS(operating
                                        system) is called Platform Independent
                                        Nature. Java is a platform-independent language. The java applications
                                        allow its applications compilation one
                                        operating system that compiled (.class) files can be executed in any
                                        operating system.</p>
                                <br>
                                <h4>4. Architectural Neutral:-</h4>
                                <p id="javacssparagraph">Java tech
                                        applications compiled in one
                                        Architecture (hardware -RAM, Hard Disk) and that Compiled program runs
                                        on any hardware architecture(hardware) is
                                        called Architectural Neutral.</p>
                                <br>
                                <h4>5. Portable:-</h4>
                                <p id="javacssparagraph">In Java tech
                                        the applications are compiled
                                        and executed in any OS(operating system) and any Architecture (hardware)
                                        hence we can say java is a portable
                                        language.</p>
                                <br>
                                <h4>6. Robust:-</h4>
                                <p id="javacssparagraph">Any
                                        technology if it is good at two main areas it is said to be ROBUST .
                                        <br><br>
                                        1. Exception Handling <br>
                                        2. Memory Allocation <br><br>
                                        JAVA is Robust because <br><br>
                                        a. JAVA is having very good predefined Exception Handling mechanism
                                        whenever we are
                                        getting exception we are having meaning full <br><br>
                                        b. JAVA is having very good memory management system that is Dynamic
                                        Memory (at
                                        runtime the memory is allocated) Allocation which allocates and
                                        deallocates memory for
                                        objects at runtime.
                                </p>
                                <br>
                                <h4>7. Secure:-</h4>
                                <p id="javacssparagraph">
                                        To provide implicit security Java provide one component inside JVM
                                        called
                                        Security Manager. To provide explicit security for the Java applications
                                        we are having very
                                        good predefined library in the form of java.Security.package. Web
                                        security for web
                                        applications we are having JAAS (Java Authentication and Authorization
                                        Services) for
                                        distributed applications.
                                </p>
                                <br>

                                <h4>8. Dynamic:-</h4>
                                <p id="javacssparagraph">
                                        Java is dynamic technology it follows dynamic memory allocation (at runtime
                                        the memory is allocated) and dynamic loading to perform the operations.
                                </p>
                                <br>
                                <h4>9. Distributed:-</h4>
                                <p id="javacssparagraph">
                                        By using JAVA technology we are preparing standalone applications and
                                        Distributed applications. Standalone applications are java applications it
                                        doesn't need client
                                        server architecture. web applications are java applications it need client
                                        server architecture.
                                        Distributed applications are the applications the project code is distributed in
                                        multiple number
                                        of jvm's.
                                </p>
                                <br>
                                <h4>10. Multithreaded:-</h4>
                                <p id="javacssparagraph">
                                        Thread is a light weight process and a small task in large program. If
                                        any tech allows executing single thread at a time such type of technologies is
                                        called single
                                        threaded technology. If any technology allows creating and executing more than
                                        one thread
                                        called as Multithreaded technology called JAVA.
                                </p>
                                <br>
                                <h4>11. Interpretive:-</h4>
                                <p id="javacssparagraph">
                                        JAVA tech is both Interpretive and Completive by using Interpretator we
                                        are converting source code into byte code and the interpretator is a part of
                                        JVM.
                                </p>
                                <br>
                                <h4>12. High Performance:-</h4>
                                <p id="javacssparagraph">
                                        If any technology having features like Robust, Security, Platform
                                        Independent, Dynamic and so on then that technology is high performance.
                                </p>
                                <br>
                        </div>

                </div>






        </div>