<div class="containercss">

    <div class="item1" id="item-leftbox">

        <app-desktop-nav></app-desktop-nav>

    </div>

    <div class="item2">

        <div class="item2-div " id="item2-div-1">

            <i class="bi bi-house svgcss" style="float:left;margin-left:20px;" routerLink="/Home"></i>

            Visual Studio Code
                   <a class="bi bi-list svgcss" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                           aria-controls="offcanvasExample" style="float:right;margin-right:15px;">
                   </a>

            

        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">

            <app-mobile-nav></app-mobile-nav>


        </div>

        <div class="item2-div">
            <img src="assets/Vs Code/logo.svg" alt="Eclipse Logo"
                style="width:200px;height:100px; margin:10px; float: left" />


            <p style="padding:20px;text-align:left;">




            </p>

        </div>




        <div class="item2-div">
            <h3 id="titlepadding">Installation Step :</h3>
            <div class="codepadding" style="padding-bottom:5px;">

                <h6>1. Click To Install Visual Studio Code</h6>
                <a href="https://code.visualstudio.com/"><i class="bi bi-download"></i></a>



            </div>

            <div class="imagebox">

                <img src="assets/Vs Code/installation.webp" class="img-fluid" alt="Responsive image">



            </div>
            <div class="codepadding" style="padding-top:15px;">

                <h6>2. Complete the process and it's done </h6>





            </div>


        </div>





    </div>

</div>