<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Python</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body" style="user-select: none">

    <ul class="list-group list-group-flush ">
        <li class="list-group-item  leftnavmobile" routerLink="/Python" data-bs-dismiss="offcanvas">
            Python Home
        </li>
        <li class="list-group-item  leftnavmobile" routerLink="/Python/L1" data-bs-dismiss="offcanvas">
            Python Installation
        </li>
        <li class="list-group-item  leftnavmobile" routerLink="/Python/L2" data-bs-dismiss="offcanvas">
            Python Data Types
        </li>
        <li class="list-group-item  leftnavmobile" routerLink="/Python/L3" data-bs-dismiss="offcanvas">
            Python Input Operation
        </li>
        <li class="list-group-item  leftnavmobile" routerLink="/Python/L4" data-bs-dismiss="offcanvas">
            Python Comments
        </li>
        <li class="list-group-item  leftnavmobile" routerLink="/Python/L5" data-bs-dismiss="offcanvas">
            Python Keywords
        </li>
        <li class="list-group-item  leftnavmobile" routerLink="/Python/L6" data-bs-dismiss="offcanvas">
            Python Operators
        </li>
        <li class="list-group-item  leftnavmobile" routerLink="/Python/L7" data-bs-dismiss="offcanvas">
            Python Expression
        </li>
        <li class="list-group-item  leftnavmobile" routerLink="/Python/L8" data-bs-dismiss="offcanvas">
            Python Statements
        </li>
        <!-- <li class="list-group-item  leftnavmobile" routerLink="/Python/L9" data-bs-dismiss="offcanvas">
            Python 9
        </li>
        <li class="list-group-item  leftnavmobile" routerLink="/Python/L10" data-bs-dismiss="offcanvas">
            Python 10
        </li>
        <li class="list-group-item  leftnavmobile" routerLink="/Python/L11" data-bs-dismiss="offcanvas">
            Python 11
        </li> -->


    </ul>


</div>