@media all and (min-width: 929px) {
  .containertitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 7vh;
    background-color: orange;
    flex-wrap: nowrap;
    box-shadow:0px 1px 5px rgb(255, 188, 65);
  }

  .titleinfo {
    height: fit-content;
    width: fit-content;
    text-align: center;
    font-family: "Averia Sans Libre", cursive;
    font-size:2vw;
    color: white;
  }
  .titleinfo:hover {
    color: #fcfaa9;
    border-bottom: 5px solid #fcfa79;
    cursor: pointer;
  }
  
}
