
<body style="height:60px">

<nav class="container-fluid navbar navbar-expand-sm  fixed-top " id="bgheadingcolor">
  <a class="navbar-brand" id="logo" >SimpliLearn</a> 
  
  <a class="navbar-brand" id="colortext" routerLink="/HTML">HTML</a>
  <a class="navbar-brand" id="colortext" routerLink="/CSS">CSS</a>
  <a class="navbar-brand" id="colortext" routerLink="/Bootstrap">Bootstrap</a>
  <a class="navbar-brand" id="colortext" routerLink="/Javascript">Javascript</a>
  <a class="navbar-brand" id="colortext" routerLink="/Angular">Angular</a>        
  <a class="navbar-brand" id="colortext" routerLink="/Java">Java</a>
  <a class="navbar-brand" id="colortext" routerLink="/Python">Python</a>
  <a class="navbar-brand" id="colortext" routerLink="/Cpp">C++</a>        
  <a class="navbar-brand" id="colortext" routerLink="/Vscode">Vs Code</a>   
  <a class="navbar-brand" id="colortext" routerLink="/Eclipse">Eclipse</a>
        

</nav>

</body>


