

<nav class="containertitle">
  <span class="titleinfo" routerLink="/Home">Home</span>
  <span class="titleinfo" routerLink="/HTML">HTML</span>
  <span class="titleinfo" routerLink="/CSS">CSS</span>
  <span class="titleinfo" routerLink="/Bootstrap">Bootstrap</span>
  <span class="titleinfo" routerLink="/Javascript">Javascript</span>
  <span class="titleinfo" routerLink="/Angular">Angular</span>
  <span class="titleinfo" routerLink="/Java">Java</span>
  <span class="titleinfo" routerLink="/Python">Python</span>
  <span class="titleinfo" routerLink="/Cpp">C++</span>
  <span class="titleinfo" routerLink="/Vscode">Vs Code</span>
  <span class="titleinfo" routerLink="/Eclipse">Eclipse</span>
</nav>








