<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"> Visual Studio Code</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
</div>
<div class="offcanvas-body" style="user-select: none">

    <ul class="list-group list-group-flush ">
        <li class="list-group-item  leftnavmobile" routerLink="/Vscode" data-bs-dismiss="offcanvas">
            Installation Guide
        </li>
        <li class="list-group-item  leftnavmobile" routerLink="/Vscode/L1" data-bs-dismiss="offcanvas">
            KeyBoard Shortcut
        </li>




    </ul>


</div>