<div class="containercss">
    <div class="item1" id="item-leftbox">
        <app-desktop-nav></app-desktop-nav>
    </div>

    <div class="item2">
        <div class="item2-div" id="item2-div-1">
            <a class="bi bi-list svgcss" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample">
            </a>

            Eclipse 2
        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">

            <app-mobile-nav></app-mobile-nav>

        </div>




    </div>
</div>