<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
        <h1><b>HTML</b></h1>
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body" style="user-select: none;">


    <ul class="list-group list-group-flush " >
        <li class="list-group-item  leftnavmobile" routerLink="/HTML"  data-bs-dismiss="offcanvas">HTML
            Home</li>
        <li class="list-group-item  leftnavmobile" routerLink="/HTML/L1"  data-bs-dismiss="offcanvas">HTML Basic Tags</li>
        <li class="list-group-item  leftnavmobile" routerLink="/HTML/L2" data-bs-dismiss="offcanvas">HTML Formatting
            </li>
        <li class="list-group-item  leftnavmobile" routerLink="/HTML/L3" data-bs-dismiss="offcanvas">HTML Links and Images
            </li>
        <li class="list-group-item  leftnavmobile" routerLink="/HTML/L4" data-bs-dismiss="offcanvas">HTML
            Table</li>
    </ul>




</div>