<div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">CSS</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body" style="user-select: none;">

        <ul class="list-group list-group-flush ">
                <li class="list-group-item  leftnavmobile" routerLink="/CSS" data-bs-dismiss="offcanvas">
                        CSS Home
                </li>
                <!-- <li class="list-group-item  leftnavmobile" routerLink="/CSS/L1" data-bs-dismiss="offcanvas">
                        CSS 1
                </li>
                <li class="list-group-item  leftnavmobile" routerLink="/CSS/L2" data-bs-dismiss="offcanvas">
                        CSS 2
                </li>
                <li class="list-group-item  leftnavmobile" routerLink="/CSS/L3" data-bs-dismiss="offcanvas">
                        CSS 3
                </li> -->



        </ul>


</div>