<div class="containercss">
    <div class="item1" id="item-leftbox">
        
        <app-desktop-nav></app-desktop-nav>
        
    </div>

    <div class="item2">

        <div class="item2-div" id="item2-div-1">
            <a class="bi bi-list svgcss" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample">
            </a>
        
            Angular 1

        </div>
        
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <app-mobile-nav></app-mobile-nav>
        </div>
 

        <div class="item2-div">
            <img src="assets/Angular/logo.webp" alt="Angular Logo"
                style="width:140px;height:140px; margin:10px; float: left" />

                
                <p style="padding:20px;text-align:left;"> 
                                       
                                        
        
                    
                </p>
            
        </div>

        <div class="item2-div">
            <h3 id="titlepadding">What is Angular :</h3>
            <div class="codepadding">
                <ul>
                    <li>
                      
                    </li>
                    
                </ul>
            </div>

            <h5 id="notepadding"> </h5>
            <div class="notediv" id="Bootstrapcssparagraph">
                

            </div>
        </div>

       </div>

</div>