<div class="containercss">
    <div class="item1" id="item-leftbox">
        <app-desktop-nav></app-desktop-nav>
    </div>

    <div class="item2">
        <div class="item2-div" id="item2-div-1">
            <i class="bi bi-house svgcss" style="float:left;margin-left:20px;" routerLink="/Home"></i>

            Comments
            <a class="bi bi-list svgcss" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                    aria-controls="offcanvasExample" style="float:right;margin-right:15px;">
            </a>

            
        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">

            <app-mobile-nav></app-mobile-nav>

        </div>

        <div class="item2-div">
            <h3 id="titlepadding">Comments :</h3>
            <div class="codepadding">
                  <ol>
                      <li>Comments are the kind of statements that are written in the program for understanding purpose.</li>
                      <li>With the help of comment it is possible to understand what exactly the program is about.</li>
                      <li>Python interpreter ignores comments and will not be visible on screen .</li>
                  </ol>
    
            </div>
        </div>
        <div class="item2-div">
            <h3 id="titlepadding">Example :</h3>
            <div class="codebox">
               <pre>
    <span class="atv"># This is a comment line</span>
    <span class="dec">print</span><span class="pln">(</span><span class="tag">"I love my country"</span><span class="pln">)</span>
    <span class="atv"># This is</span>  
    <span class="atv"># another example</span> 
    <span class="atv"># of comment line</span>
    <span class="dec">print</span><span class="pln">(</span><span class="tag">"Hello India"</span><span class="pln">)</span></pre>
            </div>
            <h3 id="titlepadding">Output :</h3>
            <div class="codepadding">
            <p>
    I love my country <br>
    Hello India
            </p>
            </div>
            <h5 id="notepadding">Note :</h5>
            <div class="notediv">
               <ol type="a">
                   <li>We use hash (<span class="atn"> # </span>) to start writing a comment.</li>
                   <li>For multi-line also we use hash ( <span class="atn">#</span> ) in the beginning of each line.</li>
               </ol>
    
            </div>
            <br>
        </div>
       

        



    </div>
</div>