<div class="containercss">
    <div class="item1" id="item-leftbox">
        <app-desktop-nav></app-desktop-nav>
    </div>

    <div class="item2">
        <div class="item2-div" id="item2-div-1">
            <i class="bi bi-house svgcss" style="float:left;margin-left:20px;" routerLink="/Home"></i>

            Reserved Keywords
            <a class="bi bi-list svgcss" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                    aria-controls="offcanvasExample" style="float:right;margin-right:15px;">
            </a>

            
        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">

            <app-mobile-nav></app-mobile-nav>

        </div>

        <div class="item2-div">
            <h3 id="titlepadding">Reserved Keywords:</h3>
            <div class="codepadding">
                   <ol>
                       <li>The keywords are special words reserved for some purpose.</li>
                       <li>You cannot use a keword as a variable name.</li>
                       <li>They are used to define the syntax and structure of python language.</li>
                   </ol>
    
            </div>
        </div>
            <div class="item2-div">
                <h3 id="titlepadding">List of Reserved Keywords:</h3>
                <div class="tablecss">
                       <table class="table table-bordered border-primary">
                        <tbody>
                            <tr>
                                <td>False</td>
                                <td>class</td>
                                <td>finally</td>
                                <td>is</td>
                                <td>return</td>
                            </tr>
                            <tr>
    
                                <td>None</td>
                                <td>continue</td>
                                <td>for</td>
                                <td>lambda</td>
                                <td>try</td>
                            </tr>
                            <tr>                       
                                <td>True</td>
                                <td>def</td>
                                <td>global</td>
                                <td>not</td>
                                <td>while</td>
                            </tr>
                            <tr>
                                <td>and</td>
                                <td>del</td>
                                <td>from</td>
                                <td>nonlocal</td>
                                <td>with</td>
                            </tr>
                            <tr>
                                <td>as</td>
                                <td>elif</td>
                                <td>if</td>
                                <td>or</td>
                                <td>yield</td>
                            </tr>
                            <tr>
                                <td>assert</td>
                                <td>else</td>
                                <td>import</td>
                                <td>pass</td>
                            </tr>
                            <tr>
                                <td>break</td>
                                <td>except</td>
                                <td>in</td>
                                <td>raise</td>
                            </tr>  
                        </tbody>
                                
                       </table>
         
                </div>
    
            <h5 id="notepadding">Note :</h5>
            <div class="notediv">
    
               <ul style="list-style-type: circle;">
                  <li>Reserved words are case-sensitive and must be used exactly as shown.</li>
                  <li>They are all entirely lowercase, except for <span class="atn">False </span>, <span class="atn">None</span> and <span class="atn">True</span>.</li>
                  <li>You can see reserved keywords list any time by typing <span class="atn">help("keywords")</span> to the Python interpreter.</li>
                </ul>
    
            </div>
            <br>
        </div>

        



    </div>
</div>