<div class="containercss">
    <div class="item1" id="item-leftbox">
        <app-desktop-nav></app-desktop-nav>
    </div>

    <div class="item2">
        <div class="item2-div" id="item2-div-1">
           
            <i class="bi bi-house svgcss" style="float:left;margin-left:20px;" routerLink="/Home"></i>
      
            JavaScript Home
          <a class="bi bi-list svgcss" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample" style="float:right;margin-right:15px;">
          </a>

        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">

            <app-mobile-nav></app-mobile-nav>

        </div>




        <div class="item2-div">
            <img src="assets/Javascript/logo.webp" alt="JavaScript Logo"
                style="width:140px;height:140px; margin:15px; float: left" />


            <span style="padding:20px;text-align:left;" id="javascriptcssparagraph">

                <ul type="square">
                    <li>
                        JavaScript is a dynamic computer programming language.
                    </li>
                    <li>
                        JavaScript allow client-side script to interact with the user and make
                        dynamic pages.
                    </li>
                </ul>

            </span>

        </div>

        <div class="item2-div">
            <h3 id="titlepadding">Syntax :</h3>
            <div class="codebox">

                <pre><span class="tag">&lt;html&gt;</span><span class="pln">
    </span><span class="tag">&lt;body&gt;</span><span class="pln">   
        </span><span class="tag">&lt;script</span><span class="pln"> </span><span class="atn">language</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="atv">"javascript"</span><span class="pln"> </span><span class="atn">type</span><span class="pln"> </span><span class="pun">=</span><span class="pln"> </span><span class="atv">"text/javascript"</span><span class="tag">&gt;</span>
        
        <span class="pln">document</span><span class="pun">.</span><span class="pln">write</span><span class="pun">(</span><span class="str">"Hello World!"</span><span class="pun">)</span><span class="pln"><span class="pun">;</span>
        
        </span><span class="tag">&lt;/script&gt;</span><span class="pln">      
    </span><span class="tag">&lt;/body&gt;</span><span class="pln">
</span><span class="tag">&lt;/html&gt;</span></pre>


            </div>
            <h3 id="titlepadding">Output :</h3>
            <div class="codepadding">
                <h5>Hello World!</h5>
            </div>

            <h5 id="notepadding">Note :</h5>
            <div class="notediv" id="javascriptid">
                <ol type="i">
                    <li>JavaScript is written in script tag .</li>
                    <li>Script tag can be use in <code>head</code> or <code>body</code> part .</li>
                    <li>But head tag run first so we generally prefer body tag so javascript will run after html load .</li>
                    <li>document.write is use to print the output .</li>
                </ol>
                <ul type="square">
                    <li><p><b>Language</b> − This attribute specifies what scripting language you are using. Typically, its value will be javascript. Although recent versions of HTML (and XHTML, its successor) have phased out the use of this attribute.</p></li>
                    <li><p><b>Type</b> − This attribute is what is now recommended to indicate the scripting language in use and its value should be set to "text/javascript".</p></li>
                </ul>
            </div>
        </div>

        <div class="item2-div">
            <h3 id="titlepadding">Javascript frameworks and libraries :</h3>
            <div class="codepadding">
                <ul type="circle">
                    <li>Angular</li>
                    <li>React</li>
                    <li>jQuery</li>
                    <li>Vue.js</li>
                    <li>Ext.js</li>
                    <li>Ember.js</li>
                    <li>Meteor</li>
                    <li>Mithril</li>
                    <li>Node.js</li>
                    <li>Polymer</li>
                    <li>Aurelia</li>
                    <li>Backbone.js</li>
                    </ul>
            </div>
            <h3 id="titlepadding">What is Framework ? </h3>
            <div class="codepadding">
               <h6> Frameworks are software that is developed and used by developers to build applications.</h6>
            </div>

            <h5 id="notepadding">Note :</h5>
            <div class="notediv" id="javascriptid">
                <ol type="1">
                    <li>Developing software is a complex process. </li>
                    <li>It include coding, designing and testing.</li>
                    <li>Software frameworks make life easier for developers by allowing them to take control of the entire software development process, or most of it, from a single platform.</li>
                </ol>
                
            </div>
        </div>

        

    </div>

</div>