#javascriptcssparagraph {
    font-family: "Rubik", sans-serif;
    font-size: 21px;
    color: #024b23;
  }

#javascriptid{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: #5f0331;
}