<div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"> Java </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body" style="user-select: none;">

        <ul class="list-group list-group-flush ">
                <li class="list-group-item  leftnavmobile" routerLink="/Java" data-bs-dismiss="offcanvas">
                        Java Home
                </li>
                <!-- <li class="list-group-item  leftnavmobile" routerLink="/Java/L1" data-bs-dismiss="offcanvas">
                        Java 1
                </li>
                <li class="list-group-item  leftnavmobile" routerLink="/Java/L2" data-bs-dismiss="offcanvas">
                        Java 2
                </li>
                <li class="list-group-item  leftnavmobile" routerLink="/Java/L3" data-bs-dismiss="offcanvas">
                        Java 3
                </li> -->



        </ul>


</div>