<div class="containercss">

        <div class="item1" id="item-leftbox">

                <app-desktop-nav></app-desktop-nav>

        </div>

        <div class="item2">

                <div class="item2-div " id="item2-div-1">

                        <i class="bi bi-house svgcss" style="float:left;margin-left:20px;" routerLink="/Home"></i>
      
                        Formatting
                      <a class="bi bi-list svgcss" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                        aria-controls="offcanvasExample" style="float:right;margin-right:15px;">
                      </a>
                </div>


                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                        aria-labelledby="offcanvasExampleLabel">
                        <app-mobile-nav></app-mobile-nav>
                </div>
                




                <div class="item2-div">
                        <h3 id="titlepadding">Formatting :</h3>
                        <div class="codebox">
<pre><span class="dec">&lt;!DOCTYPE html&gt;</span><span class="pln">
</span><span class="tag">&lt;html&gt;</span><span class="pln">
   </span><span class="tag">&lt;head&gt;</span><span class="pln">
        </span><span class="tag">&lt;title&gt;</span><span class="pln">Formatting Text Example</span><span class="tag">&lt;/title&gt;</span><span class="pln">
   </span><span class="tag">&lt;/head&gt;</span><span class="pln">
   </span><span class="tag">&lt;body&gt;</span><span class="pln">
        </span><span class="tag">&lt;b&gt;</span><span class="pln">      1.This text is bold         </span><span class="tag">&lt;/b&gt;</span><span class="pln">
        </span><span class="tag">&lt;strong&gt;</span><span class="pln"> 2.This text is important!   </span><span class="tag">&lt;/strong&gt;</span><span class="pln">
        </span><span class="tag">&lt;i&gt;</span><span class="pln">      3.This text is italic       </span><span class="tag">&lt;/i&gt;</span><span class="pln">
        </span><span class="tag">&lt;em&gt;</span><span class="pln">     4.This text is emphasized   </span><span class="tag">&lt;/em&gt;</span><span class="pln">
        </span><span class="tag">&lt;small&gt;</span><span class="pln">  5.This is some smaller text </span><span class="tag">&lt;/small&gt;</span><span class="pln">
        
        </span><span class="tag">&lt;p&gt;</span><span class="pln">6.Do not forget to buy </span><span class="tag">&lt;mark&gt;</span><span class="pln">milk</span><span class="tag">&lt;/mark&gt;</span><span class="pln">today.</span><span class="tag">&lt;/p&gt;</span><span class="pln">
        </span><span class="tag">&lt;p&gt;</span><span class="pln">7.My favorite color is </span><span class="tag">&lt;del&gt;</span><span class="pln">blue</span><span class="tag">&lt;/del&gt;</span><span class="pln"> red.</span><span class="tag">&lt;/p&gt;</span><span class="pln">
        </span><span class="tag">&lt;p&gt;</span><span class="pln">8.My favorite color is </span><span class="tag">&lt;ins&gt;</span><span class="pln">red</span><span class="tag">&lt;/ins&gt;</span><span class="pln">.</span><span class="tag">&lt;/p&gt;</span><span class="pln">
        </span><span class="tag">&lt;p&gt;</span><span class="pln">9.This is </span><span class="tag">&lt;sub&gt;</span><span class="pln">subscripted</span><span class="tag">&lt;/sub&gt;</span><span class="pln"> text.</span><span class="tag">&lt;/p&gt;</span><span class="pln">
        </span><span class="tag">&lt;p&gt;</span><span class="pln">10.This is </span><span class="tag">&lt;sup&gt;</span><span class="pln">superscripted</span><span class="tag">&lt;/sup&gt;</span><span class="pln"> text.</span><span class="tag">&lt;/p&gt;</span><span class="pln">
   </span><span class="tag">&lt;/body&gt;</span><span class="pln">
        
</span><span class="tag">&lt;/html&gt;</span></pre>
                        </div>

                        <h3 id="titlepadding">Output :</h3>
                        <div class="codepadding">

                                <b>      1.This text is bold         </b><br>
                                <strong> 2.This text is important!   </strong><br>
                                <i>      3.This text is italic       </i><br>
                                <em>     4.This text is emphasized   </em><br>
                                <small>  5.This is some smaller text </small><br>
                                
                                <p>6.Do not forget to buy <mark>milk</mark>today.</p>
                                <p>7.My favorite color is <del>blue</del> red.</p>
                                <p>8.My favorite color is <ins>red</ins>.</p>
                                <p>9.This is <sub>subscripted</sub> text.</p>
                                <p>10.This is <sup>superscripted</sup> text.</p>
                        </div>
                        <h5 id="notepadding">Note :</h5>
                        <div class="notediv">
                                <ol type="1">
                                        <li><code>&lt;b&gt;</code> - Bold text</li>
                                        <li><code>&lt;strong&gt;</code> - Important text</li>
                                        <li><code>&lt;i&gt;</code> - Italic text</li>
                                        <li><code>&lt;em&gt;</code> - Emphasized text</li>
                                        <li><code>&lt;mark&gt;</code> - Marked text</li>
                                        <li><code>&lt;small&gt;</code> - Smaller text</li>
                                        <li><code>&lt;del&gt;</code> - Deleted text</li>
                                        <li><code>&lt;ins&gt;</code> - Inserted text</li>
                                        <li><code>&lt;sub&gt;</code> - Subscript text</li>
                                        <li><code>&lt;sup&gt;</code> - Superscript text</li>
                                </ol>

                        </div>
                </div>
                <div class="item2-div">
                        <h3 id="titlepadding">Grouping Content :</h3>
                        <div class="codepadding">
                                The &lt;div&gt; and &lt;span&gt; elements allow you to group together several elements to create sections or subsections of a page.
                        </div>
                        <div class="codebox">
<pre><span class="dec">&lt;!DOCTYPE html&gt;</span><span class="pln">
</span><span class="tag">&lt;html&gt;</span><span class="pln">
   </span><span class="tag">&lt;head&gt;</span><span class="pln">
        </span><span class="tag">&lt;title&gt;</span><span class="pln">Div and span tag Example</span><span class="tag">&lt;/title&gt;</span><span class="pln">
   </span><span class="tag">&lt;/head&gt;</span><span class="pln">
   </span><span class="tag">&lt;body&gt;</span><span class="pln">
        </span><span class="tag">&lt;div&gt;</span><span class="pln">   Hello i'm div tag    </span><span class="tag">&lt;/div&gt;</span><span class="pln">
        </span><span class="tag">&lt;span&gt;</span><span class="pln">  Hello i'm span tag   </span><span class="tag">&lt;/span&gt;</span><span class="pln">
   </span><span class="tag">&lt;/body&gt;</span><span class="pln">
        
</span><span class="tag">&lt;/html&gt;</span></pre>
                        </div>

                        <h3 id="titlepadding">Output :</h3>
                        <div class="codepadding">

                                <div>   Hello i'm div tag    </div>
                                <span>  Hello i'm span tag   </span>
                        </div>
                        <h5 id="notepadding">Note :</h5>
                        <div class="notediv">
                                <ol type="i">
                                    <li><code>div</code> is use for larger part of content and <code>span</code> for smaller part of content</li>  
                                    <li>When you create a multiple div tag it will come on next line </li> 
                                    <li>When you create a multiple span tag it will come on same line </li> 
                                </ol>

                        </div>
                </div>

                <div class="item2-div">
                        <h3 id="titlepadding">Comments :</h3>
<div class="codebox">
<pre><span class="dec">&lt;!DOCTYPE html&gt;</span><span class="pln">
</span><span class="tag">&lt;html&gt;</span><span class="pln">
   </span><span class="tag">&lt;head&gt;</span><span class="pln">
        </span><span class="tag">&lt;title&gt;</span><span class="pln">Comment Example</span><span class="tag">&lt;/title&gt;</span><span class="pln">
   </span><span class="tag">&lt;/head&gt;</span><span class="pln">
   </span><span class="tag">&lt;body&gt;</span><span class="pln">
        
     <span class="atv">&lt;!--   This is valid comment representation --&gt;</span>
        
   </span><span class="tag">&lt;/body&gt;</span><span class="pln">
        
</span><span class="tag">&lt;/html&gt;</span></pre>
                                </div>




                </div>









        </div>






</div>