<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">JavaScript</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body" style="user-select: none">
    <ul class="list-group list-group-flush">
        <li class="list-group-item leftnavmobile" routerLink="/Javascript" data-bs-dismiss="offcanvas">
            JavaScript Home
        </li>
        <!-- <li class="list-group-item leftnavmobile" routerLink="/Javascript/L1" data-bs-dismiss="offcanvas">
            JavaScript 1
        </li>
        <li class="list-group-item leftnavmobile" routerLink="/Javascript/L2" data-bs-dismiss="offcanvas">
            JavaScript 2
        </li> -->

    </ul>
</div>